# Database Type: "sqlite" or "postgres"
DB_TYPE=postgres

# SQLite Configuration (якщо DB_TYPE=sqlite)
DATABASE_PATH=stock_hub.db

# PostgreSQL Configuration (якщо DB_TYPE=postgres)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=stock_hub
POSTGRES_SSLMODE=disable

# Server Configuration
SERVER_PORT=8082
WS_PATH=/ws
